.home-footer {
  display: flex;
  height: 25vh;
  width: 100%;
  border: 1px solid rgb(50, 143, 115);
  background-color: rgb(41, 119, 96);
  border-radius: 10px;
}
.footer-para{
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 10px;
}

.btn-assesment{
  background-color: white;
  height: 20%;
  width: 150%;
  border: 1px solid rgb(250, 245, 245);
  border-radius: 30px;
  color: rgb(44, 88, 79);
  margin-right: 100px;
  padding-left: 10px;
}
.footer-btn {
 position: relative;
 top: 90px;
 right: 300px;


}